
<!-- Din HTML-kod för att visa kundvagnsinnehållet -->
@* <div>
    @if (Model.CartItems != null && Model.CartItems.Any())
    {
        <ul>
            @foreach (var item in Model.CartItems)
            {
                <li>@item.ProductName - @item.Quantity x @item.Price.ToString("C")</li>
            }
        </ul>
    }
    else
    {
        <p>Din kundvagn är tom.</p>
    }
</div> *@