

<div class="offcanvas offcanvas-end" tabindex="-1" id="cartOffcanvas" aria-labelledby="cartOffcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="cartOffcanvasLabel">Din kundvagn</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Stäng"></button>
    </div>
    <div class="offcanvas-body">
        @await Html.PartialAsync("_CartPartial", (object)Model)

    </div>
</div>
