<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tyska För Små Upptäckare</title>
    <link href="/img/house-svgrepo-com.svg" rel="icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TyskaForSmaUpptackare.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TyskaForSmaUpptackare</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <img src="~/svg/burger1-svgrepo-com.svg" alt="Mobil navigation" style="height: 30px;" />
                    
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-center gap-3">
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link btn btn-primary text-black mx-1" asp-area="" asp-controller="Home" asp-action="Index">Hem</a>
                        </li>
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link btn btn-primary text-black mx-1" asp-area="" asp-controller="Product" asp-action="Index">Produkter</a>
                        </li>
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link btn btn-primary text-black mx-1" asp-area="" asp-controller="About" asp-action="Index">Om Oss</a>
                        </li>
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link btn btn-primary text-black mx-1" asp-area="" asp-controller="Contact" asp-action="Index">Kontakt</a>
                        </li>

                        <!-- Version för mobila enheter: visas endast på mindre än lg -->
                        <li class="nav-item d-lg-none">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Hem</a>
                        </li>
                        <li class="nav-item d-lg-none">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Produkter</a>
                        </li>
                        <li class="nav-item d-lg-none">
                            <a class="nav-link text-dark" asp-area="" asp-controller="About" asp-action="Index">Om Oss</a>
                        </li>
                        <li class="nav-item d-lg-none">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">Kontakt</a>
                        </li>
                    </ul>
           
               
                    <partial name="_LoginPartial" />
                    <a class="navbar-brand" asp-area="" asp-controller="Cart" asp-action="Index">
                        <button>
                            <img src="~/svg/shopping-cart-svgrepo-com.svg" alt="Kundvagn" style="height: 30px;" />
                        </button>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="container-fluid">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top" style="margin-top: 60px; margin-bottom: 0;">
 
        <div class="container pt-5">
            <div class="row justify-content-between">
                <div class="col-4">
                    <div class="d-flex">
                        <img src="~/svg/chains-chain-svgrepo-com.svg" style="height: 30px;"/>
                        <h3>Snabblänkar</h3>
                    </div>
                    <div><a asp-area="" asp-controller="Home" asp-action="Index">Hem</a></div>

                    <div> <a asp-area="" asp-controller="Product" asp-action="Index">Produkter</a></div>

                    <div><a asp-area="" asp-controller="About" asp-action="Index">Om Oss</a></div>

                    <div><a asp-area="" asp-controller="Contact" asp-action="Index">Kontakt</a></div>

                </div>
                <div class="col-4 text-start">
                    <div class="d-flex">
                        <img src="~/svg/book-and-people-spring-svgrepo-com.svg" style="height: 30px;" />
                        <h3>Info</h3>
                    </div>
                    <p class="lead">Denna sida är skapad för att göra <br />
                        tyskainlärning roligt för barn. <br />
                        Här finns inga annonser eller dolda köp.</p>
                </div>
                <div class="col-4 text-start">
                     <div class="d-flex">
                        <img src="~/svg/paper-document-file-data-svgrepo-com.svg" style="height: 30px;"/>
                        <h3>Copyright</h3>
                    </div>
                        <a asp-area="" asp-controller="Home" asp-action="Privacy">Sekretesspolicy</a>
                    
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="~/svg/house-outdoot-snow-svgrepo-com.svg" class="w-100"  />
                </div>
                       <div class="col-2">
                    <img src="~/svg/kitchen-pack-cook-svgrepo-com.svg" class="img-fluid" />
                </div>
                       <div class="col-2">
                    <img src="~/svg/kitchen-pack-spoon-svgrepo-com.svg" class="img-fluid" />
                </div>
                       <div class="col-2">
                    <img src="~/svg/kitchen-pack-pot-svgrepo-com.svg" class="img-fluid" />
                </div>
                       <div class="col-2">
                    <img src="~/svg/house-svgrepo-com.svg" class="img-fluid" />
                </div>
                <div class="col-2">
                    <img src="~/svg/blocks-abc-svgrepo-com.svg" class="w-100" />
                </div>
            </div>
        </div>
        <div class="container text-center">
            &copy; 2025 - TyskaForSmaUpptackare - En sida av Karin Ekenberg
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
