<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tyska För Små Upptäckare</title>
    <link href="/img/house-svgrepo-com.svg" rel="icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TyskaForSmaUpptackare.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="sticky-top d-none d-lg-flex w-100">
        <nav class="navbar navbar-expand-lg navbar-light border-bottom box-shadow w-100">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Hem" asp-action="Index">TFSU</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#desktopNavbar"
                        aria-controls="desktopNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <img src="~/svg/burger1-svgrepo-com.svg" alt="Mobil navigation" style="height: 30px;" />
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="desktopNavbar">
                    <ul class="navbar-nav flex-grow-1 justify-content-center gap-3">
                        <li class="nav-item"><a class="nav-link btn btn-primary text-black mx-1" asp-area="" asp-controller="Hem" asp-action="Index">Hem</a></li>
                        <li class="nav-item"><a class="nav-link btn btn-primary text-black mx-1" asp-area="" asp-controller="Produkt" asp-action="Index">Lär dig tyska</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link btn btn-primary text-black mx-1 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                Testa
                            </a>
                            <ul class="dropdown-menu" style="background-color: var(--color-primary-blue);">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Testa" asp-action="Index">Testa gratis</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Testa" asp-action="Abc">Lär dig ABC</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Testa" asp-action="EttTvaTre">Räkna 1 2 3</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Testa" asp-action="Tiotal">Räkna 10 20 30</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Testa" asp-action="Hundratal">Räkna 100 200 300</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Testa" asp-action="Djur">Lär dig djuren</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link btn btn-primary text-black mx-1" asp-area="" asp-controller="OmOss" asp-action="Index">Om Oss</a></li>
                        <li class="nav-item"><a class="nav-link btn btn-primary text-black mx-1" asp-area="" asp-controller="Kontakt" asp-action="Index">Kontakt</a></li>
                        @if (User.IsInRole("Administrators"))
                        {
                            <li class="nav-item">
                                <a class="nav-link btn btn-primary text-black mx-1" asp-area="" asp-controller="Admin" asp-action="Orders">Adminpanel - Köp</a>
                            </li>
                        }
                    </ul>
                    <div class="d-flex align-items-center gap-2">
                        <partial name="_LoginPartial" />
                        <a class="navbar-brand" asp-area="" asp-controller="Kundvagn" asp-action="Index">
                            <button>
                                <img src="~/svg/shopping-cart-svgrepo-com.svg" alt="Kundvagn" style="height: 30px;" />
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    @if (ViewData["HideNavbar"] == null || !(bool)ViewData["HideNavbar"])
    {
        <header class="sticky-top d-lg-none w-100">
            <nav class="navbar navbar-expand-lg navbar-toggleable-sm border-bottom box-shadow">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Hem" asp-action="Index">TFSU</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                        <img src="~/svg/burger1-svgrepo-com.svg" alt="Mobil navigation" style="height: 30px;" />
                    </button>
                    <div class="navbar-collapse collapse justify-content-between">
               
                        <!-- Mobile Menu -->
                        <ul class="navbar-nav flex-grow-1 justify-content-center gap-3 ">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Hem" asp-action="Index">Hem</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Produkt" asp-action="Index">Lär dig tyska</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a id="testa" class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Testa
                                </a>
                                <ul class="dropdown-menu" style="background-color:var(--color-primary-blue);">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Testa" asp-action="Index">Testa gratis</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Testa" asp-action="Abc">Lär dig ABC</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Testa" asp-action="EttTvaTre">Räkna 1 2 3</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Testa" asp-action="Tiotal">Räkna 10 20 30</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Testa" asp-action="Hundratal">Räkna 100 200 300</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Testa" asp-action="Djur">Lär dig djuren</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="OmOss" asp-action="Index">Om Oss</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Kontakt" asp-action="Index">Kontakt</a>
                            </li>
                            @if (User.IsInRole("Administrators"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="@Url.Action("Orders", "Admin")">Adminpanel - Köp</a>
                                </li>
                            }

                        </ul>
                        <!-- Login Partial and Cart -->
                        <div class="d-flex flex-wrap align-items-center gap-2 gap-md-3">
                            <partial name="_LoginPartial" />
                            <a class="navbar-brand" asp-area="" asp-controller="Kundvagn" asp-action="Index">
                                <button>
                                    <img src="~/svg/shopping-cart-svgrepo-com.svg" alt="Kundvagn" style="height: 30px;" />
                                </button>
                            </a>
                        </div>
                </div>
            </div>
        </nav>
    </header>
    } 
    <div>
        <main role="main" class="container-fluid">
            @RenderBody()
        </main>
    </div>



    <footer class="border-top" style="margin-top: 60px; margin-bottom: 0;">
        <div class="container pt-5">
            <div class="row justify-content-between">
                <div class="col-12 col-md-4 text-start mb-4 mb-md-0">
                    <div class="d-flex gap-1">
                        <img src="~/svg/chains-chain-svgrepo-com.svg" style="height: 30px;" />
                        <h3>Snabblänkar</h3>
                    </div>
                    <div><a asp-area="" asp-controller="Hem" asp-action="Index">Hem</a></div>
                    <div><a asp-area="" asp-controller="Produkt" asp-action="Index">Lär dig tyska</a></div>
                    <div><a asp-area="" asp-controller="OmOss" asp-action="Index">Om Oss</a></div>
                    <div><a asp-area="" asp-controller="Kontakt" asp-action="Index">Kontakt</a></div>
                </div>
                <div class="col-12 col-md-4 text-start mb-4 mb-md-0">
                    <div class="d-flex gap-1">
                        <img src="~/svg/book-and-people-spring-svgrepo-com.svg" style="height: 30px;" />
                        <h3>Info</h3>
                    </div>
                    <p class="lead">
                        Denna sida är skapad för att göra <br />
                        tyskainlärning roligt för barn. <br />
                        Här finns inga annonser eller dolda köp.
                    </p>
                </div>
                <div class="col-12 col-md-4 text-start mb-4 mb-md-0">
                    <div class="d-flex gap-1">
                        <img src="~/svg/paper-document-file-data-svgrepo-com.svg" style="height: 30px;" />
                        <h3>Copyright</h3>
                    </div>
                    <a asp-area="" asp-controller="Hem" asp-action="Privacy">Sekretesspolicy</a>
                </div>
            </div>
        </div>
        <div class="container mt-5 mt-md-3">
            <div class="row">
                <div class="col-2">
                    <img src="~/img/tfsu-bär.png" alt="björn" class="w-100" />
                </div>
                <div class="col-2">
                    <img src="~/img/tfsu-Chamäleon.png" alt="kameleont" class="img-fluid" />
                </div>
                <div class="col-2">
                    <img src="~/img/tfsu-maus.png" alt="mus" class="img-fluid" />
                </div>
                <div class="col-2">
                    <img src="~/img/tfsu-tiger.png" alt="tiger" class="img-fluid" />
                </div>
                <div class="col-2">
                    <img src="~/img/tfsu-pferd.png" alt="häst" class="img-fluid" />
                </div>
                <div class="col-2">
                    <img src="~/img/tfsu-giraffe.png" alt="giraff" class="w-100" />
                </div>
            </div>
        </div>
        <div class="container pt-5 pb-1 text-center">
            &copy; 2025 - TyskaForSmaUpptackare - En sida av Karin Ekenberg
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>