@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Fel.</h1>
<h2 class="text-danger">Ett fel uppstod när din begäran bearbetades.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Att byta till <strong>Utvecklings</strong>miljö kommer att visa mer detaljerad information om felet som uppstod.
</p>
<p>
    <strong>Utvecklingsmiljön bör inte vara aktiverad för distribuerade applikationer.</strong>
    Det kan resultera i att känslig information från undantag visas för slutanvändare.
    För lokal felsökning, aktivera <strong>Utvecklings</strong> miljö genom att ställa in <strong>ASPNETCORE_ENVIRONMENT</strong> miljövariabel till <strong>Utveckling</strong>
    och starta om appen.
</p>
