@{
    ViewData["Title"] = "Om Oss";
}

<section class="container mt-5">
    <h1 class="display-4 text-center">Om Oss</h1>
    <p class="lead text-center">Välkommen till TyskaForSmaUpptackare – en innovativ plattform skapad för att inspirera och underlätta inlärning på ett interaktivt sätt.</p>

        <section class="container-lg secondary-bg p-5">
            <h2 class="pb-3">Vår Vision</h2>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        Vi tror på att lärande ska vara både roligt och engagerande. Genom att kombinera modern teknik med en flexibel, hierarkisk struktur, erbjuder vi användarna en unik upplevelse där de kan utforska och interagera med våra produkter.
                    </p>
                </div>
                <div class="col-md-6 pt-3 pt-lg-0">
                    <img src="/img/tfsu-vision.jpg" alt="Vårt team" class="img-fluid rounded">
                </div>
            </div>
        </section>
    <section class="container-lg p-5">
            <h2 class="pb-3">Vårt Team</h2>
            <div class="row">
                <div class="col-md-6">
                <img src="/img/tfsu-omoss.jpg" alt="Vårt team" class="img-fluid rounded">
                </div>
            <div class="col-md-6 pt-3 pt-lg-0">
                <p>
                    Vårt team består av passionerade utvecklare, designers och utbildningsexperter som tillsammans arbetar för att skapa en plattform som möter dagens krav på digital inlärning. Vi strävar alltid efter att förnya och förbättra användarupplevelsen.
                </p>
            </div>
            </div>
        </section>

 
</section>
