@{
    ViewData["Title"] = "Testa gratis";
}
<h1 class="mt-5">@ViewData["Title"]</h1>
<div class="row g-3">
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
       <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
    <div class="col-1 alfabet">
        <p>A a</p>
    </div>
</div>