@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center w-100" style="top:0;">
    <img src="~/img/tfsu-hero-desktop.PNG" class="w-100 d-md-block d-none" />
    <img src="~/img/tfsu-hero-mobile.PNG" class="w-100 d-md-none d-block" />
    <div class="position-absolute w-50 h-100 top-0 d-flex flex-column justify-content-center align-items-center">
        <h1 class="display-5 bottom-50 bg-white rounded p-1 bg-opacity-75">Tyska för små upptäckare</h1>
        <button class="btn btn-primary">Kom igång</button>
    </div>
</div>
