@{
    ViewData["Title"] = "Lär dig tyska alfabetet med uttal";
}
<section class="container">
    <h1 class="mt-5">@ViewData["Title"]</h1>
    <p class="text-center">Klicka på bokstäverna</p>
    <div class="row g-5">
        <div class="col-1 alfabet mx-5">
            <p>A a</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>B b</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>C c</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>D d</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>E e</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>F f</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>G g</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>H h</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>I i</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>J j</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>K k</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>L l</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>M m</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>N n</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>O o</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>P p</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>Q q</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>R r</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>S s</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>T t</p>
        </div>    <div class="col-1 alfabet mx-5">
            <p>U u</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>V v</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>W w</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>X x</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>Y y</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>Z z</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>Ä ä</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>Ö ö</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>Ü ü</p>
        </div>
        <div class="col-1 alfabet mx-5">
            <p>ß</p>
        </div>
    </div>
</section>
