@{
    ViewData["Title"] = "Testa gratis";
}

<section class="container mb-5">
    <h1 class="mt-5 mb-5">@ViewData["Title"]</h1>
    <div class="row justify-content-center">
        <div class="col-md-5">
            <img class="img-fluid" src="/img/tfsu-abcs.webp" alt="Klicka på djuren" />
        </div>
        <div class="col-md-5 pt-3 pt-md-0">
            <p>
                Välkommen till vår interaktiva plattform där barnen kan lära sig på ett roligt och engagerande sätt! Här får de möjlighet att öva på att känna igen siffror, bokstäver och andra symboler, samtidigt som de lär sig hur de uttalas korrekt.
            </p>
            <p>
                Genom att klicka på de olika siffrorna eller bilderna aktiveras ljudklipp som visar exakt hur varje tecken låter. Det gör det lättare för barnen att koppla ihop den visuella informationen med rätt ljud och uttal.
            </p>
            <p>
                Bilder fungerar som en tydlig instruktionsguide och visar hur du navigerar i övningen. Ta en stund att titta på den innan du börjar experimentera med de olika funktionerna.
            </p>
            <p>
                Lycka till och ha kul med att lära dig – eller låt barnen utforska och upptäcka i sin egen takt!
            </p>

        </div>
    </div>
</section>
<section class="container-lg secondary-bg p-5">
    <h2 class="pb-3">Testa produkter gratis</h2>
    <div class="row">
            <div class="col-md-4 mb-4">
                <div>
                <a aria-label="Navigera till 1 2 3" asp-area="" asp-controller="Testa" asp-action="EttTvaTre"><img src="~/img/tfsu-onetwos.webp" class="card-img-top" alt="Siffror ett två tre" /></a>                  
                    <div>
                        <h4 class="text-center">Siffror 1 2 3</h4>
                    </div>
                </div>
            </div>

        <div class="col-md-4 mb-4">
            <div>
                <a aria-label="Navigera till 10 20 30" asp-area="" asp-controller="Testa" asp-action="Tiotal"><img src="~/img/tfsu-onetwos.webp" class="card-img-top" alt="Siffror tiotal" /></a>
                <div>
                    <h4 class="text-center">Siffror tiotal</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div>
                <a aria-label="Navigera till 100 200 300" asp-area="" asp-controller="Testa" asp-action="Hundratal"><img src="~/img/tfsu-onetwos.webp" class="card-img-top" alt="Siffror hundratal" /></a>
                <div>
                    <h4 class="text-center">Siffror hundratal</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div>
                <a aria-label="Navigera till abc" asp-area="" asp-controller="Testa" asp-action="Abc"><img src="~/img/tfsu-abcs.webp" class="card-img-top" alt="Lär dig abc" /></a>
                <div>
                    <h4 class="text-center">Lär dig abc</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div>
                <a aria-label="Navigera till djur" asp-area="" asp-controller="Testa" asp-action="Djur"><img src="~/img/tfsu-djurgrid.webp" class="card-img-top" alt="Djur" /></a>
                <div>
                    <h4 class="text-center">Djuren och deras ljud</h4>
                </div>
            </div>
        </div>
    </div>
</section>